@import "../../../assets/scss/variables";

.banner {
  position:        relative;
  width:           100%;
  object-fit:      cover;
  object-position: top;
  height:          auto;
}

.simpleSlider {
  padding:       0 1rem;
  position:      relative;
  margin-bottom: 3.5rem;
  > h2 {
    padding-left: 1.5625rem;
    color:        $carbonic;
    text-align:   center;
  }
  > p {
    text-align: center;
    color:      $carbonic;
    padding:    0 1.25rem;
    max-width:  42rem;
    margin:     0 auto;
  }
}

@media screen and (min-width: 768px) {
  .simpleSlider {
    background: #f8f9fb;
  }
  .modified {
    background: $white;
  }
  .banner {
    height: 100vh;
  }
}

@media screen and (min-width: 992px) {
  .simpleSlider {
    padding: 10% 0 7% 0;
    > h2 {
      width:       49%;
      margin-left: auto;
      text-align:  left;
      font-size:   2.25rem;
      line-height: 3.4375rem;
    }
    &.modified {
      background: $white;
      &.simpleSlider {
        padding: 8.3% 0 0 0;
      }
      > h2 {
        width:         100%;
        text-align:    center;
        margin-bottom: 2rem;
        font-size:     1.5rem;
        line-height:   2.3125;
      }
      > p {
        margin-bottom: 1rem;
      }
    }
  }
}