.inner {
  .firstList, .secondList {
    opacity: 1;
  }
  .sliderLink {
    opacity: 1;
  }
}


//// animations
@media screen and (min-width: 1200px) {
  .inner {
    padding: 3rem 1.5rem 2rem 4.5rem;
    .firstList, .secondList {
      opacity: 0;
    }
    .secondList {
      transform: translateY(60px);
    }
    .sliderLink {
      opacity: 0;
      transform: translateX(-120px);
    }
  }
}

@media screen and (min-width: 1440px) {
  .inner {
    padding: 4.4rem 2.5rem 2rem 7.4rem;
  }
}