@import "../../../assets/scss/variables";

@media (any-hover: hover) {
  .header {
    .burgerMenu:hover {
      opacity: .7;
    }
  }
}

@media (any-hover: hover) and (min-width: 1440px) {
  .header {
    .menuWrapper .menu ul li:hover a {
      opacity: 0;
      &.menuHover {
        opacity: 1;
        height:  100%;
        padding: 1rem;
      }
    }
  }
}

.header {
  width:    100%;
  position: relative;
  z-index:  20;
  .logo {
    position:   fixed;
    top:        0;
    left:       0;
    z-index:    10;
    background: $metal;
    padding:    0.6875rem 2rem 0.625rem 2.625rem;
    margin-top: 4.1875rem;
    img {
      width: 12.125rem;
    }
  }
  .menuWrapper {
    max-width:       92.7%;
    width:           100%;
    display:         flex;
    justify-content: space-between;
    align-items:     flex-start;
    position:        fixed;
    top:             0;
    left:            0;
    z-index:         10;
    .menu {
      position:   fixed;
      width:      100%;
      height:     100%;
      background: $white;
      opacity:    0;
      visibility: hidden;
      transition: all 0.6s cubic-bezier(.87, 0, .13, 1);
      &.active {
        visibility: visible;
        opacity:    1;
      }
      ul {
        height:          100%;
        display:         flex;
        flex-direction:  column;
        justify-content: center;
        align-items:     center;
        li {
          align-self: stretch;
          position:   relative;
          &:active a {
            opacity: 0;
            &.menuHover {
              opacity: 0.7;
              height:  100%;
              padding: 0 0 2rem 0;
            }
          }
        }
        a {
          display:         none;
          flex-direction:  column;
          align-items:     center;
          justify-content: space-between;
          padding:         2.5rem 1rem;
          font-weight:     bold;
          font-size:       1.125rem;
          line-height:     1.6875rem;
          letter-spacing:  0.06em;
          color:           $metal;
          max-width:       12.8rem;
          text-align:      center;
          margin:          0 auto;
          &.menuHover {
            display:         flex;
            justify-content: flex-start;
            align-items:     center;
            height:          100%;
            position:        static;
            top:             0;
            transform:       translateY(0%);
            z-index:         1;
            width:           100%;
            left:            0;
            background:      transparent;
            color:           $metal;
            overflow:        visible;
            padding:         0 0 2rem 0;
            transition:      0.3s cubic-bezier(.87, 0, .13, 1);
            &.active {
              opacity: 1;
              height:  100%;
              padding: 1rem;
            }
            img {
              margin-bottom: .5rem;
              width:         3rem;
            }
          }
        }
      }
    }
  }
  .login {
    position:    fixed;
    padding-top: 0;
    top:         8.5rem;
    right:       5%;
    z-index:     10;
    width:       1.5rem;
    margin-left: 1rem;
    cursor:      pointer;
  }
  .burgerMenu {
    display:          block;
    position:         fixed;
    top:              3.9rem;
    right:            5%;
    padding:          0;
    z-index:          10;
    width:            2rem;
    height:           2rem;
    border-radius:    50%;
    background-color: transparent;
    transition:       0.3s cubic-bezier(.87, 0, .13, 1);
    box-shadow:       none;
    border:           none;
    cursor:           pointer;
    &:active {
      opacity: .7;
    }
    .burgerMenuLines, .burgerMenuLines:after, .burgerMenuLines:before {
      position:         absolute;
      width:            2rem;
      height:           0.1875rem;
      background-color: $metal;
      right:            0;
      transition:       0.3s cubic-bezier(.87, 0, .13, 1);
    }
    .burgerMenuLines {
      width: 75%;
      &:after {
        content: '';
        top:     -0.625rem;
      }
      &:before {
        content: '';
        width:   50%;
        top:     0.625rem;
      }
    }
    &.active {
      .burgerMenuLines {
        background-color: transparent;
        width:            100%;
        &::before {
          top:       0;
          transform: rotate(-45deg);
          width:     100%;
        }
        &::after {
          top:       0;
          transform: rotate(45deg);
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .header {
    .logo {
      position:   static;
      margin-top: 2.5rem;
      padding:    1rem 3.125rem 0 6.8125rem;
    }
    .menuWrapper {
      .menu {
        opacity:    1;
        visibility: visible;
        background: transparent;
        position:   static;
        width:      70%;
        ul {
          flex-direction:  row;
          align-items:     flex-start;
          justify-content: flex-end;
          li {
            &:active a {
              opacity: 0;
              &.menuHover {
                padding: 1rem;
              }
            }
          }
          a {
            display: flex;
            &.menuHover {
              position:   absolute;
              overflow:   hidden;
              height:     0;
              padding:    0;
              top:        50%;
              transform:  translateY(-50%);
              background: $metal;
              color:      $white;
              img {
                min-width:  100px;
                max-width:  100px;
                min-height: 48px;
                max-height: 48px;
              }
            }
          }
        }
      }
    }
    .login {
      padding-top: 2.5rem;
      position:    static;
    }
    .burgerMenu {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .logo {
      img {
        width: 8.5rem;
      }
    }
    .menuWrapper {
      .menu {
        ul {
          a.menuHover {
            img {
              display: none;
            }
          }
        }
      }
    }
    .login {
      top: 7.3rem;
    }
  }

}