@import '../../../assets/scss/variables';

@media (any-hover: hover) {
  .footer {
    li a:hover {
      font-weight: bold;
      color:       $black;
      transform:   scale(1.2);
    }
    a:hover {
      img {
        transform: scale(0.8);
        opacity:   .6;
      }
    }
  }
}

.footer {
  * {
    transition: 0.3s ease-in-out;
  }
  flex:             0 0 auto;
  width:            100%;
  font-family:      Titillium Web, sans-serif;
  background-color: #F8F9FB;
  li a:active {
    opacity: 0.5;
  }
  a:active {
    img {
      transform: rotate(15deg);
    }
  }
  .container {
    width:   100%;
    margin:  0 auto;
    padding: 1.4375rem 1rem 0 1rem;
  }
  .lists {
    display:         flex;
    flex-wrap:       wrap;
    align-items:     flex-start;
    justify-content: center;
    width:           100%;
    > div {
      width:           100%;
      margin-bottom:   1.6875rem;
      display:         flex;
      flex-direction:  column;
      justify-content: center;
      align-items:     center;
    }
    ul {
      display:         flex;
      justify-content: center;
      align-items:     center;
      flex-direction:  column;
      margin-top:      1rem;
    }
    h3 {
      margin:         0;
      font-size:      0.875rem;
      line-height:    1.8;
      text-align:     center;
      letter-spacing: 0.06em;
      color:          $carbonic;
    }
    a {
      font-size:      0.875rem;
      line-height:    1.8;
      letter-spacing: 0.06em;
      display:        inline-block;
      img {
        transition: all 0.3s linear;
      }
    }
    p {
      margin:         0.5rem 0 1.5rem 0;
      font-size:      0.8125rem;
      line-height:    2;
      text-align:     center;
      letter-spacing: 0.06em;
      color:          #68696D;
    }
    .logo {
      p {
        max-width:  25rem;
        margin-top: 1.6875rem;
      }
      img {
        width:         5.125rem;
        margin-bottom: 1.6875rem;
      }
    }
    .social {
      ul {
        margin-bottom: 0;
        width:         70%;
      }
      a {
        margin-bottom: 1.3125rem;
        margin-right:  0.5rem;
      }
    }
  }
  .footerBottom {
    width:            100%;
    height:           8.75rem;
    background-color: $white;
    position:         relative;
    display:          none;
    a {
      width:            12%;
      max-width:        14.4375rem;
      height:           15.5vw;
      max-height:       18.625rem;
      min-height:       14.3125rem;
      background-color: #323239;
      display:          flex;
      align-items:      center;
      justify-content:  center;
      position:         absolute;
      z-index:          1;
      bottom:           0;
      left:             44%;
      box-shadow:       0 1.875rem 3.75rem rgba(0, 0, 0, 0.25);
      img {
        max-width: 8.437rem;
        width:     90%;
      }
    }
  }
  .partners {
    width:         100%;
    margin-top:    10rem;
    margin-bottom: 6.25rem;
    display:       none;
    .partnersInner {
      width:           30%;
      margin:          0 auto;
      display:         flex;
      justify-content: space-between;
      align-items:     center;
      a {
        width: 20%;
        &:nth-child(2) {
          width: 15%;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    .container {
      width:   90%;
      padding: 8.5% 1rem 3rem 1rem;
    }
    .lists {
      > div {
        width:       48%;
        margin:      1%;
        align-items: flex-start;
      }
      p {
        text-align: left;
      }
      ul {
        align-items: flex-start;
      }
      .logo {
        > div {
          display:        flex;
          flex-direction: column;
          align-items:    flex-start;
        }
        h3 {
          order: 1;
        }
        a {
          order: 2;
        }
        p {
          order: 3;
        }
      }
      .social {
        flex-direction:  row;
        flex-wrap:       wrap;
        justify-content: space-between;
        align-items:     center;
        h3 {
          width: 100%;
        }
        ul {
          margin-bottom: 1.6875rem;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .footer {
    .container {
      width: 90%;
    }
    .lists {
      flex-wrap: nowrap;
      > div {
        width:     17%;
        min-width: 11.25rem;
      }
      h3 {
        text-align: left;
      }
      p, a, h3 {
        font-size: 1.125rem;
      }
      .navigation {
        order: 1;
      }
      .contacts {
        order: 2;
      }
      .social {
        order:           3;
        justify-content: flex-start;
        ul {
          width: 63%;
        }
        a {
          img {
            width: 1.1875rem;
          }
        }
      }
      .logo {
        width:          40%;
        order:          4;
        flex-direction: row;
        flex-wrap:      wrap;
        a {
          order: 1;
          width: 30%;
        }
        > div {
          order: 2;
          width: 70%;
        }
      }
    }
    .footerBottom {
      display: block;
    }
    .partners {
      display: block;
    }
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    .container {
      width: 74%;
    }
    .partners {
      margin-bottom: 10.6rem
    }
  }
}