@import '../../../assets/scss/variables';

.wrapper {
  width:           100%;
  background:      url("../../../assets/images/IDEI.svg") no-repeat #F8F9FB center top;
  background-size: 85%;
  padding-bottom:  1rem;
  margin-top:      2rem;
  .images {
    width:     100%;
    max-width: 51.75rem;
    position:  relative;
    .cover {
      display: none;
    }
    > img {
      max-height: 100%;
    }
    .overImg {
      position:         absolute;
      z-index:          1;
      bottom:           0;
      left:             10%;
      width:            10rem;
      min-width:        10rem;
      max-width:        19.5rem;
      height:           7rem;
      max-height:       17.3125rem;
      min-height:       7rem;
      background-color: #323239;
      padding:          1rem 0.8rem 1rem 1.5rem;
      h3 {
        color:          #F8F9FB;
        font-size:      1rem;
        line-height:    1.52;
        letter-spacing: 0.06em;
        text-align:     left;
      }
      p {
        text-align:     left;
        color:          $carbonic;
        font-size:      0.8rem;
        line-height:    1.52;
        font-weight:    bold;
        letter-spacing: 0.06em;
      }
    }
    .overDiv {
      display:          none;
      padding:          0 0.5rem;
      background-color: #F8F9FB;
      position:         absolute;
      z-index:          1;
      bottom:           80.3%;
      left:             64.2%;
      img {
        width:   9.3125rem;
        opacity: 0;
      }
    }
  }
  .description {
    position: relative;
    width:    85%;
    margin:   1.7rem auto;
    span {
      display:        inline-block;
      font-size:      0.8rem;
      line-height:    1.52;
      letter-spacing: 0.06em;
      color:          $carbonic;
      margin-bottom:  2rem;
    }
    h3 {
      font-weight:    bold;
      font-size:      1.25rem;
      line-height:    1.81;
      letter-spacing: 0.06em;
      color:          $carbonic;
      margin-bottom:  9%;
    }
    p {
      font-size:      0.8rem;
      line-height:    1.52;
      letter-spacing: 0.06em;
      color:          #3D454E;
    }
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding:         12.7% 11.6% 7% 7.2%;
    display:         flex;
    justify-content: center;
    align-items:     center;
    background:      url("../../../assets/images/IDEI.svg") no-repeat #F8F9FB center bottom;
    background-size: 85%;
    margin-top:      0;
    .images {
      order:      2;
      max-width:  66%;
      max-height: 320px;
      object-fit: contain;
      .overImg {
        bottom: -23.3%;
        left:   83.4%;
      }
      .overDiv {
        display: block;
      }
    }
    .description {
      max-width:     34%;

      order:         1;
      margin:        0;
      padding-right: 5%;
      span {
        margin-bottom: 2.4rem;
      }
      h3 {
        margin-bottom: 19%;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .wrapper {
    .images {
      max-height: 100%;
      width:      53.44%;
      .overDiv {
        padding: 0.5rem 1rem;
        img {
          width:  13.3125rem;
          height: 9.125rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    padding: 17.7% 15.6% 7% 2%;
    .images {
      max-width: 66%;
      .overImg {
        width:   39%;
        height:  26vw;
        padding: 4.1rem 1rem 1rem 2.6rem;
        > h3 {
          font-size:     1.5rem;
          margin-bottom: 1.5rem;
          line-height:   1.7;
        }
        p {
          font-size: 1.5rem;
        }
      }
      .overDiv {
        padding: 1.5rem 2rem;
        img {
          width:  21.3125rem;
          height: 16.125rem;
        }
      }
    }
    .description {
      width:     100%;
      max-width: 34%;
      span, p {
        font-size: 1.125rem;
      }
      h3 {
        font-size:   1.5rem;
        line-height: 1.81;
      }
    }
  }
}


// animations
@media screen and (min-width: 992px) {
  * {
    transition: all 1s ease-in-out;
  }
  .wrapper {
    background-position-x: -200px;
    .images {
      > img:first-child {
        opacity: 0;
      }
      .cover {
        display:         block;
        position:        absolute;
        z-index:         1;
        left:            0;
        top:             0;
        width:           100%;
        object-fit:      cover;
        object-position: top;
        height:          0;
      }
      .overImg {
        transform: translateX(300%);
        h3, p {
          opacity:   0;
          transform: translateY(30px);
        }
      }
    }
    .description {
      opacity:   0;
      transform: translateY(60px);
    }
  }
}