@import "../../../assets/scss/variables";

.sliderPagination {
  * {
    transition: all 0.6s cubic-bezier(.87, 0, .13, 1) !important;
  }
  width: 100%;
  .thumbnail, .gallery {
    background-repeat:   no-repeat;
    background-position: center center;
    background-size:     cover;
  }

  .thumbnail {
    height:        22vw;
    cursor:        pointer;
    margin-bottom: 2rem;
    margin-top:    2rem;
    &.swiper-slide-active {
      //box-shadow: 0 1.875rem 3.75rem rgba(0, 0, 0, 0.25);
    }
    &:not(.swiper-slide-active) {
      opacity: .4;
    }
  }
  .gallery {
    height:        57vw;
    margin-bottom: 1.3125rem;
  }
}


@media screen and (min-width: 992px) {
  .sliderPagination {
    position:  absolute;
    z-index:   2;
    right:     7.7%;
    top:       48%;
    transform: translateY(-50%);
    width:     42.4%;
    .thumbnail {
      width:         36%;
      margin-top:    6rem;
      height:        40vw;
      margin-bottom: 9.5rem;
    }
  }
  .pagination {
    width:          58%;
    display:        flex;
    flex-direction: column;
    text-align:     left;
    background:     #f8f9fb;
    padding:        4.8% 18% 1.7% 8%;
    position:       relative;
    &:before {
      content:         '';
      position:        absolute;
      z-index:         -1;
      left:            0;
      top:             0;
      background:      url("../../../assets/images/trazzo-logo.svg") 6rem center no-repeat;
      opacity:         .05;
      background-size: contain;
      width:           100%;
      height:          100%;
    }
    li {
      cursor:         pointer;
      font-size:      1.5rem;
      line-height:    2.3125rem;
      color:          $carbonic;
      margin-bottom:  3.2rem;
      letter-spacing: 1.4px;
      &:hover, &:active {
        opacity: .7 !important;
      }
      &.active {
        position: relative;
        color:    $black;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .sliderPagination {
    .thumbnail {
      height:     32vw;
      max-height: 40rem;
    }
  }
  .pagination {
    padding: 4.8% 29% 1.7% 8%;
    li {
      &.active {
        position: relative;
        &:before {
          content:    '';
          position:   absolute;
          right:      -3rem;
          top:        50%;
          transform:  translate(100%, -50%);
          width:      90px;
          height:     4px;
          background: $carbonic;
        }
      }
    }
  }
}


//animations
@media screen and (min-width: 1200px) {
  .pagination-list {
    opacity:   0;
    transform: translateY(300px);
  }
  .sliderPagination {
    opacity: 0;
  }
}