.inner {
  opacity: 1;
}

//// animations
@media screen and (min-width: 1200px) {
  .inner {
    > h2 {
      opacity:       0;
      margin-bottom: 2.4rem;
      transform:     translateY(50px);
    }
  }
}

