.sliderMobile {
  .thumbnail, .gallery {
    background-repeat:   no-repeat;
    background-position: center center;
    background-size:     cover;
  }

  .thumbnail {
    height:        22vw;
    cursor:        pointer;
    margin-bottom: 2rem;
    margin-top:    2rem;
    &.swiper-slide-active {
      box-shadow: 0 1.875rem 3.75rem rgba(0, 0, 0, 0.25);
    }
    &:not(.swiper-slide-active) {
      opacity: .4;
    }
  }
  .gallery {
    height:        57vw;
    margin-bottom: 1.3125rem;

  }
}

@media screen and (min-width: 993px) {
  .sliderMobile {
    position:  absolute;
    width:     100%;
    top:       50%;
    left:      0;
    transform: translateY(-50%);
    .thumbnail {
      width:         36%;
      margin-bottom: 6rem;
      margin-top:    6rem;
    }
  }
}

@media screen and (min-width: 1640px) {

}