@import "assets/scss/variables";


*, *:after, *:before {
  box-sizing: border-box;
  outline:    none;
  transition: 0.3s linear;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding:    0;
  margin:     0;
}

a {
  color:           $iron;
  text-decoration: none;
  cursor:          pointer;
}

body, html {
  margin:     0;
  padding:    0;
  height:     100%;
  transition: 0s linear;
}

html {
  font-size:   16px;
  font-family: 'Titillium Web', sans-serif;
}

menu, ul {
  margin:  0;
  padding: 0;
}

ul {
  list-style-type: none;
}

ul.dashed {
  list-style-type: none;
}

ul.dashed > li {
  padding-left: 1rem;
  position:     relative;
}

ul.dashed > li:before {
  content:     "-";
  position:    absolute;
  left:        0;
  top:         50%;
  transform:   translateY(-50%);
  font-size:   1.25rem;
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin:  0;
}

h2 {
  font-size:      1.25rem;
  line-height:    1.875rem;
  letter-spacing: 0.06em;
}

p {
  font-size:      0.8125rem;
  line-height:    1.25rem;
  letter-spacing: 0.06em;
  margin-top:     0;
}

#root {
  height: 100%;
}

.no-scroll {
  overflow: hidden;
}

.only-mobile {
  display: block;
}

.only-desktop {
  display: none;
}

.link {
  text-align: center;
  a {
    display: inline-block;
    color:   #f8f9fb;
    border:  0.0625rem solid $carbonic;
    padding: 0.5rem 1.5rem;
  }
}

@media screen and (min-width: 993px) {
  .only-mobile {
    display: none;
  }
  .only-desktop {
    display: block;
  }
  .link {
    text-align: left;
    a {
      border:       none;
      position:     relative;
      padding-left: 0;
      &:after {
        content:         '';
        position:        absolute;
        right:           -1rem;
        top:             50%;
        background:      url("./assets/images/arrow-long.svg") center center no-repeat;
        background-size: contain;
        width:           3.25rem;
        height:          0.875rem;
        transform:       translate(100%, -50%);

      }
      &:hover, &:active {
        opacity: .7;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  p {
    font-size:   1.125rem;
    line-height: 1.4;
  }
  .link {
    margin-top:  14%;
    font-size:   1.5rem;
    line-height: 2.3125;
  }
}