@import "assets/scss/variables";


*, *:after, *:before {
  box-sizing: border-box;
  outline:    none;
  transition: 0.3s linear;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding:    0;
  margin:     0;
}

a {
  color:           $iron;
  text-decoration: none;
  cursor:          pointer;
}

body, html {
  margin:     0;
  padding:    0;
  height:     100%;
  transition: 0s linear;
}

html {
  font-size:   16px;
  font-family: 'Titillium Web', sans-serif;
}

menu, ul {
  margin:  0;
  padding: 0;
}

ul {
  list-style-type: none;
}

ul.dashed {
  list-style-type: none;
}

ul.dashed > li {
  padding-left: 1rem;
  position:     relative;
}

ul.dashed > li:before {
  content:     "-";
  position:    absolute;
  left:        0;
  top:         50%;
  transform:   translateY(-50%);
  font-size:   1.25rem;
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin:  0;
}

h2 {
  font-size:      1.25rem;
  line-height:    1.875rem;
  letter-spacing: 0.06em;
}

p {
  font-size:      0.8125rem;
  line-height:    1.25rem;
  letter-spacing: 0.06em;
  margin-top:     0;
}

#root {
  height: 100%;
}

.no-scroll {
  overflow: hidden;
}

.only-mobile {
  display: block;
}

.only-desktop {
  display: none;
}

@media screen and (min-width: 993px) {
  .only-mobile {
    display: none;
  }
  .only-desktop {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  p {
    font-size:   1.125rem;
    line-height: 1.4;
  }
}